
.grid-container{
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgb(27, 28, 29);
  padding: 3px;
}


.grid-item {
  background-color:  #d3d3d3;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  -webkit-animation: color-change-2x 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite alternate backwards;
  animation: color-change-2x 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite alternate backwards; 
  font-size: 30px;
  text-align: center;
}

button:active {
  background-color: aquamarine;
}

.display-item{
  grid-template-columns: auto;
   /* -webkit-animation: color-change-5x 8s linear infinite alternate both;  */
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.display-container{
   display: grid;
  border-color:black;
  padding: 3px; 
 
  
}
h1, h3 {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;

}
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.hello{
  
 -webkit-animation: color-change-5x 8s linear infinite alternate both; 

}


.color-change-2x {
	-webkit-animation: color-change-2x 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite alternate backwards;
	        animation: color-change-2x 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite alternate backwards;
}
@-webkit-keyframes color-change-5x {
  0% {
    background: #19dcea;
  }
  25% {
    background: #b22cff;
  }
  50% {
    background: #ea2222;
  }
  75% {
    background: #f5be10;
  }
  100% {
    background: #3bd80d;
  }
}
@keyframes color-change-5x {
  0% {
    background: #19dcea;
  }
  25% {
    background: #b22cff;
  }
  50% {
    background: #ea2222;
  }
  75% {
    background: #f5be10;
  }
  100% {
    background: #3bd80d;
  }
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes color-change-2x {
  0% {
    background: hsl(61, 100%, 50%);
  }
  100% {
    background: #1ef702;
  }
}
@keyframes color-change-2x {
  0% {
    background: hsl(61, 100%, 50%);
  }
  100% {
    background:  #1ef702;
  }
}


#display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1vw;
  font-weight: bold;
  color: lightblue;
  background-color: rgba(51, 51, 51, 0.8);
  grid-column: 1 / -1; }
