
.grid-container{
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgb(27, 28, 29);
  padding: 3px;
}


.grid-item {
  background-color:  #d3d3d3;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

button:active {
  background-color: aquamarine;
}

.display-item{
  background-color:  greenyellow;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.display-container{
   display: grid;
  grid-template-columns: auto;
  background-color: rgb(27, 28, 29);
  padding: 3px; 
  background-color: rosybrown
}